<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Review It</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <section class="container">
  <h1>Okay, but how was the food?</h1>
  <h2>Add all the delicous food stops to your review list!</h2>
  <h3>My Reviews</h3>
  <form action="/reviews" method="POST">
    <input type="text" placeholder="Image" name="img">
    <input type="text" placeholder="Destination" name="business">
    <input type="text" placeholder="Additional Thoughts" name="review">
    <button type="submit">Add Review</button>
  </form>

  <ul class="messages">
  <% for(var i=0; i<messages.length; i++) {%>
    <li class="message" data-objectId="<%= messages[i]._id %>">
      <img src="<%= messages[i].img %>" alt="">
      <span class="nam"><%= messages[i].business.toUpperCase() %></span>
      <span class="msg"><%= messages[i].review %></span>
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
      
      <% if(messages[i].heart === true) { %>
        <span><i class="fa fa-heart heart-red" data-heart="true" aria-hidden="true"></i></span>
      <% } else { %>
          <span><i class="fa fa-heart heart-black" data-heart="false" aria-hidden="true"></i></span>
      <% } %>

      
      <% if(messages[i].rating == 0){ %>
      <div>
        <input type="radio" name="star" value="1">1
        <input type="radio" name="star" value="2">2
        <input type="radio" name="star" value="3">3
        <input type="radio" name="star" value="4">4
        <input type="radio" name="star" value="5">5
        <button type="button" class="btn">Rate</button>
      </div>
      <% }else{ %>
        <span class="msg">Rating: <%= messages[i].rating %></span>
        <% } %>
    </li>
  <% } %>
  </ul>
  

  

 
</section>
  <script src="main.js"></script>

</body>
</html>
